.gdt-container.gdo-has-error {
	background-color: #fa6;
	animation-name: pulse-error;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes pulse-error {
  0% {
    background-color: #fa6;
  }
  50% {
    background-color: #f44;
  }
  100 {
    background-color: #fa6;
  }
}
