/**
 * Pure CSS left and right sidebar navigation.
 * The labels toggle hidden checkboxes.
 * On desktops the left nav is always visible.
**/
/** NAV **/
.gdo-nav-bar {
	list-style: none;
	background: #eee;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1;
}

#gdo-left-bar {
	border-right: 1px solid #fff;
	width: 256px;
	left: 0;
}

#gdo-right-bar {
	border-left: 1px solid #fff;
	width: 256px;
	right: 0;
}

#gdo-left-bar .gdt-bar > * {
	align-self: flex-start;
	text-align: left;
}
#gdo-right-bar .gdt-bar > * {
	align-self: flex-end;
	text-align: right;
}
#gdo-header .gdo-bar {
	padding: 0px 42px;
}

#gdo-pagewrap {
	min-width: 100%;
	min-height: 100%;
	background-color: #fff;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}
.gdo-nav {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="gdo-left-nav"]{
	top: 0px;
	left: 0px;
}
label[for="gdo-right-nav"]{
	top: 0px;
	right: 16px;
}
label[for="gdo-left-nav"],
label[for="gdo-right-nav"] {
	z-index: 3;
	position: fixed;
	width: 30px;
	height: 30px;
	margin:	16px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	background-size: contain;
}


#gdo-left-nav:checked ~ label[for="gdo-left-nav"] {
	left: 256px;
}
#gdo-right-nav:checked ~ label[for="gdo-right-nav"] {
	right: 272px;
}
#gdo-left-nav:checked ~ label[for="gdo-right-nav"] {
	display: none;
}
#gdo-right-nav:checked ~ label[for="gdo-left-nav"] {
	display: none;
}
#gdo-left-nav:checked ~ #gdo-right-bar {
	z-index: 0;
}
#gdo-left-nav:checked ~ #gdo-pagewrap {
	left: 256px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	width: auto;
}
#gdo-right-nav:checked ~ #gdo-pagewrap {
	left: -256px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	width: auto;
}
#gdo-right-bar .gdo-bar {
	display: block;
}

#gdo-left-bar .gdt-menu,
#gdo-right-bar .gdt-menu {
	display: flex;
	flex-direction: column;
}

#gdo-pagewrap #gdo-left-nav2,
#gdo-pagewrap #gdo-right-nav2 {
	top: 0px;
	position: fixed;
	height: 100vh;
	width: 100%;
	opacity: 0.5;
	background: #000;
	margin: 0;
	display: none;
}

#gdo-left-nav:checked ~ #gdo-pagewrap #gdo-left-nav2 {
	display: block!important;
	left: 256px;
}

#gdo-right-nav:checked ~ #gdo-pagewrap #gdo-right-nav2 {
	display: block!important;
	right: 256px;
}
