[submodule "GDO/UI/htmlpurifier"]
	path = GDO/UI/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier
	branch = master
[submodule "GDO/CSS/minify"]
	path = GDO/CSS/minify
	url = https://github.com/matthiasmullie/minify
[submodule "GDO/CSS/path-converter"]
	path = GDO/CSS/path-converter
	url = https://github.com/matthiasmullie/path-converter
