# Eclipse
.buildpath
.project
.settings/

# HTTP
.htaccess
.htpasswd
 
# Generated folders
files/
files_test/
assets/
protected/
temp/
temp_test/

# Install hta
install/*
!install/wizard.php

# Ignore all modules...
GDO/*
# ...except core modules
!GDO/Classic/
!GDO/CLI/
!GDO/Core/
!GDO/Country/
!GDO/CSS/
!GDO/Date/
!GDO/DB/
!GDO/File/
!GDO/Form/
!GDO/Install/
!GDO/Language/
!GDO/Mail/
!GDO/Net/
!GDO/Perf/
!GDO/Javascript/
!GDO/PHPInfo/
!GDO/Table/
!GDO/UI/
!GDO/User/
!GDO/Util/

# Ignore yarn
**/node_modules
**/yarn.lock

# Ignore bower
**/bower_components

# Ignore favicons
favicon.*

# Ignore vendor
vendor/

# Ignore env.php
/env.php

# PHPUnit
.phpunit.result.cache

/xfcm/
/*replay*
