header {
	height: 140px;
	background: red;
	vertical-align: bottom;
}

footer {
/* 	position: absolute; */
/* 	left: 0; */
/* 	bottom: 0; */
}

.gdo-bar-column, .gdo-bar-column > *, .gdo-bar-row, .gdo-bar-row > * {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}
.gdo-bar-column {
	flex-direction: column;
}
.gdo-bar-row {
	flex-direction: row;
}

