/** GDO Clean **/
* { margin: 0; padding: 0; text-decoration: none; box-sizing: border-box; list-style: none; }
span, img { display: inline-block; }
.b { display: block; }
.ib { display: inline-block; }
.n { display: none; }
.cf:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
.ce { text-align: center; margin: auto; }
/** Main Layout **/
body { height: 100%; background: #fff; overflow-x: auto; width: 100%;}
html { height: 100%; }
/* .gdo-body { display: flex; } */
/* #gdo-left-bar, #gdo-right-bar { flex: 0 0 18.5%; } */
/* .gdo-main { flex: 1; } */

/** UI/GDT_Bar.php **/
.gdo-bar  { display: flex; flex: 1 1 auto; justify-content: space-around; align-content: center; }
.gdo-bar-column { flex-direction: column; text-align: center; }
.gdo-bar-row { flex-direction: row; flex-wrap: wrap; }
.gdo-bar > * { display: block; text-align: center; align-self: center; flex-grow: 1; }

/** General **/
pre { white-space: pre-wrap; }
a { color: #33f; font-weight: 900; }

/** Always show left menu on large devices */
@media only screen and (min-width: 1024px) {
	#gdo-pagewrap { margin-left: 256px; width: calc(100% - 256px)!important; min-width: 320px!important; }
	label[for="gdo-left-nav"] { display: none; }
	#gdo-left-bar { z-index: 2; }
	#gdo-right-nav:checked ~ #gdo-right-bar { z-index: 3; left: auto; width: 256px;}
}


/** Core/Debug.php **/
.gdo-exception { font-family: monospace; white-space: pre-wrap; word-wrap: break-word; }

/** UI/GDT_Message **/
.gdt-message textarea { width: 100%; height: 180px; }

/** Table/GDT_Table **/
.gdo-tblorder a { color: #000; }
.gdo-tblorder a.sel { color: gold; }

/** Core/GDOException **/
.gdo-exception {
	text-align: left;
}

/** Table/Lists **/
.gdt-list { border: 1px solid #000; border-bottom: none; }
.gdt-list-item { position relative; border-bottom: 1px solid #000; }
.gdt-li-upper { display: flex; }
.gdt-li-image { width: 48px; max-height: 48px; text-align: center; display: flex; align-items: center; align-content: center; }
.gdt-li-image > * { margin: auto; }
.gdt-li-content { flex-grow: 10; }
.gdt-li-subtext { padding: 4px 8px; }
