* { margin: 0; padding: 0; text-decoration: none; box-sizing: border-box; list-style: none; }
span, img, a, i, b, em { display: inline-block; }
.cf:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
.ce { text-align: center; margin: auto; }
.gdo-exception { white-space: pre; font-family: monospace; }
.gdo-tblorder { display: inline-block; }
img.gdo-country { width: 24px; height: 17px; position: relative; top: 3px; }
.b { display: block; }
.ib { display: inline-block; }
.n { display: none; }
.cf:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
.ce { text-align: center; margin: auto; }
.cb { clear: both; }
.dn { display: none; }
.gdo-table td.gdt-num.gdo-gdt_user { text-align: left; }
.ri { text-align: right; float: right; }
.ri:after,.fr:after,.fl:after { content: ""; visibility: hidden; display: block; height: 0; clear: both; }
.fr { float: right; }
.fl { float: left; }
.bw { word-break: break-word; }

/** Basic flex **/
.flx { display: flex; flex-wrap: wrap; justify-content: center; }
.flx-row { flex-direction: row; }
.flx-column { flex-direction: column; }
.flx > * { flex: 1 1 auto; text-align: center; }

