/** GDO Clean **/
* { margin: 0; padding: 0; text-decoration: none; box-sizing: border-box; list-style: none; }
span, img { display: inline-block; }
.b { display: block; }
.ib { display: inline-block; }
.n { display: none; }
.cf:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
.ce { text-align: center; margin: auto; }
/** Main Layout **/
body { height: 100%; background: #fff; }
html { height: 100%; }
.gdo-body { display: flex; }
#gdo-left-bar, #gdo-right-bar { flex: 0 0 18.5%; }
.gdo-main { flex: 1; }

/** Core/Debug.php **/
.gdo-exception { font-family: monospace; white-space: pre-wrap; word-wrap: break-word; }

/** UI/GDT_Bar.php **/
.gdo-bar  { display: flex; flex-grow: 1; justify-content: center; }
.gdo-bar-column { flex-direction: column; text-align: center; }
.gdo-bar-row { flex-direction: row; }
.gdo-bar > * { display: block; -ms-flexbox: 1 1 auto; flex: 1; }

/** UI/GDT_Message **/
.gdt-message textarea { width: 100%; height: 180px; }

/** Table/GDT_Table **/
.gdo-tblorder a { color: #000; }
.gdo-tblorder a.sel { color: gold; }

/** Core/GDOException **/
.gdo-exception {
	text-align: left;
}
