/* html, body { width: 100%; height: 100%; } */
/* * { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; list-style: none; } */
* { box-sizing: border-box; }
.a { position: absolute; }
.r { position: relative; }
.n { display: none; } 
.b { display: block; }
.ib { display: inline-block; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

/** gdo_File **/
div.gdo-attachment { border: 1px dotted #ccc; margin-top: 16px; word-break: break-all; }
div.gdo-file { padding: 8px; }
span.gdo-file-size, span.gdo-file-type { font-weight: bold; } 

/** Footer **/
footer { border-top: 1px solid #ccc; text-align: center; background: #eee; }

/** gdo_Table **/
td.gdo-button { padding: 0!important; }
td.gdo-button .md-button { margin: 0; }
img.gdo-country, img.gdo-language { width: 42px; }
.gdo-table table tbody tr th { text-align: center; }
.gdo-table table tbody tr td { padding: 2px 8px; }
.gdo-table table tbody tr td { text-align: center; vertical-align: middle; font-size: 16px; }
.gdo-table table tbody tr td.gdo-num { font-family: monospace; text-align: right; padding-right: 18px; }
.gdo-table table tbody tr td.gdo-rownum div { position: relative; padding: 0; left: 12px; top: 12px; }
/* .gdo-table table .gdo-num, .gdo-table table .gdo-rownum { max-width: 80px; } */
.gdo-tblorder a.sel { color: gold; }
.gdo-table th md-select { margin: -4px 0 0 0; }
.gdo-table th md-checkbox { margin: 3px 0; }
.gdo-tblorder { display: inline-block; position: relative; left: -6px; }
.gdo-tblorder a { display: block; }
.gdo-tblorder a:first-child { position: relative; bottom: -30px; }
.gdo-tblorder a:last-child { position: relative; bottom: -10px; }
.gdo-table th { text-align: center; }
.gdo-pagemenu .page-selected a { background: #f00; }

/** gdo_Form **/
div.gdo-tooltip { display: inline-block; }
img.gdo-captcha-img {
	position: relative;
	top: -12px;
	left: 12px;
}
.gdo-has-error, md-content.gdo-error {
	background: #fff4f4;
	border: 1px dotted #ccc;
	overflow: hidden;
}
.gdo-has-error { overflow: auto; }
md-content.gdo-message {
	background: #eeffee;
	border: 1px dotted #ccc;
	overflow: hidden;
}

.gdo-error i.material-icons, .gdo-message i.material-icons {
	display: inline-block;
	width: 30px;
	height: 28px;
	line-height: 28px;
}

.gdo-error p, .gdo-message p {
	font-weight: bold;
	margin: 0;
	line-height: 28px;
}
.gdo-error p {
	color: #a11;
	line-height: 28px;
}
.gdo-form-error {
	color: #a11;
	font-weight: bold;
	opacity: 0.7;
	clear: both;
}
md-input-container .gdo-form-error {
	top: -12px;
	position: relative;
}

md-input-container > md-select {
	margin-bottom: 20px;
}
.gdo-divider-label {
	font-size: 20px;
}
md-select > md-select-value.md-select-value > span > div.md-text {
	display: inline-block!important;
}
div.gdo-label {
	padding: 8px 4px 16px;
}

h2.gdo-form-title { text-align: center; }

/** Avatar **/
gdo-avatar, gdo-avatar img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: inline-block;
}
gdo-avatar img {
	width: 42px;
	height: 42px;
	padding: 2px;
	background: #aaa;
}
gdo-avatar.male img { background: #369; }
gdo-avatar.female img { background: #f08; }

/** Box **/
md-content.gdo-box { line-height: 28px; font-size: 15px; }
gdo-div, div.gdo-div { height: 1px; width: 100%; background: #bbb; }

/** Card **/
md-card .gdo-card-date { font-size: 12px;}
.gdo-list md-card { margin-bottom: 16px; }

/** List **/
md-list-item { border-top: 1px solid #ccc; }
md-list-item:last-child { border-bottom: 1px solid #ccc; }

/** Debug **/
.gdo-stacktrace { font-family: monospace; word-break: break-all; }

/** Tags **/
.gdo-selected { font-weight: bold; text-decoration: underline; }

/** Badge **/
.gdo-badge {
	background: #fff;
	border-radius: 12px;
	min-width: 32px;
	text-align: center;
	border: 1px solid #ccc;
	display: table;
	line-height: 21px;
	padding: 4px;
	float: left;
	margin-right: 4px;
}

/** Upload **/
.gdo-file-preview {
	height: 120px;
	width: 160px;
	border: 1px solid #ccc;
}
.gdo-file-preview img {
	padding: 10px;
	box-sizing: border-box;
	max-height: 120px;
	max-width: 160px;
}


